<style>
  styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }

  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }

  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }

  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

  .styled-table td:last-child {
    text-align: right;
  }
</style>


<div class="dashboard-list-item">
  <table class="styled-table">
    <thead>
      <tr>
        <th >Warehouse</th>
        <th>Item Code / Description</th>
        <th>Stock Qty</th>
        <th>Avg.Cost</th>
        

      </tr>
    </thead>
    <tbody>
      {% for d in data %}

      <tr>
        <td><a data-type="warehouse" data-name="{{ d.warehouse }}">{{ d.warehouse }}</a></td>
        <td>
          {% if show_item %}
          <a data-type="item" data-name="{{ d.item_code }}">{{ d.item_code }}
            {% if d.item_name != d.item_code %}({{ d.item_name }}){% endif %}
          </a>
          {% endif %}
        </td>
        <td>{{ d.actual_qty }}</td>
        <td>{{ d.valuation_rate}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  <iframe src = "
  http://10.10.10.20:8000/insights/public/dashboard/3240f75c4666eaf5acf01cf161da5d4d197ae357ea3161af1a6efaf0" width=100% height="600" allowtransparency></iframe>
  
</div>
